# Python Data Types

En la clase de hoy veremos tipos de datos en python.

In [1]:
# Basic Python classes

# integer
# float
# string
# array
# dictionary
# boolean
# function
# tuples
# set
# class
# None

# https://docs.python.org/3.7/library/stdtypes.html0

In [2]:
a=7
print(a, type(a))
a="Ironhack"
print(a, type(a))

7 <class 'int'>
Ironhack <class 'str'>

In [3]:
# Otros lenguajes
# C/C++
# int a = 7;

In [4]:
# integer
#int()
x = 7
print(type(x))

# float
#float()
x = 7.0
print(type(x))

# string
#str()
x = "7"
print(type(x))

# array / list
# Ordenadas y Mutables
#list()
x = [7]
print(type(x))

# tuples
# Ordenadas y Inmutables
#tuple()
x = ()
# tuplas de un unico elemento necesitan ",".
#x = (7,)
print(type(x))

# set
# NO ordenados
#set()
x = {7}
print(type(x))

# dictionary
# NO ordenados
#dict()
x = {7:"siete"}
print(type(x))

# boolean
#bool()
x = True or False
print(type(x))

# None
x = None
print(type(x))

# function
x = print
print(type(x))
def siete():
    return 7
print(type(siete))

# class
class x:
    pass
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'bool'>
<class 'NoneType'>
<class 'builtin_function_or_method'>
<class 'function'>
<class 'type'>

In [5]:
print(type(siete))
print(type(siete()))

<class 'function'>
<class 'int'>

In [6]:
x = 7
print(type(x))
x = float(x)
print(x,type(x))

<class 'int'>
7.0 <class 'float'>

In [7]:
lst = [1, 5, "Hola", print, (2,), 5, print, 7, 9.48]

In [8]:
set(123321)

TypeError: 'int' object is not iterable

In [31]:
list(set(lst))

[1, <function print>, (2,), 5, 7, 9.48, 'Hola']

In [32]:
set("paralelepipedo")

{'a', 'd', 'e', 'i', 'l', 'o', 'p', 'r'}

In [33]:
list("paralelepipedo")

['p', 'a', 'r', 'a', 'l', 'e', 'l', 'e', 'p', 'i', 'p', 'e', 'd', 'o']

In [34]:
4096 2048 1024 512 256 128 64 32 16 8 4 2 1

SyntaxError: invalid syntax (<ipython-input-34-effc9c682396>, line 1)

In [35]:
int("111",2)

7

In [36]:
int("110111",2)

55

In [37]:
# int64, float64
print(0.123456789123456729)

0.12345678912345673

In [38]:
123456789123456789.1236456789123456789

1.2345678912345678e+17

In [39]:
x = 15.54
if type(x) == float:
    x = int(x)
elif type(x) == int:
    pass
print(x,type(x))

15 <class 'int'>

## Operaciones sobre Listas

In [40]:
# Iterar sobre lista
nombres = ["Amanda", "Juan", "Felipe"]
for persona in nombres:
    print(persona)

Amanda
Juan
Felipe

In [41]:
instructors = [["Amanda", "Corell"], ["Juan", "Blanco"], ["Felipe", "Ferrero"]]
for persona in instructors:
    print(persona)
    for nombre in persona:
        print(nombre)

['Amanda', 'Corell']
Amanda
Corell
['Juan', 'Blanco']
Juan
Blanco
['Felipe', 'Ferrero']
Felipe
Ferrero

In [42]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [43]:
a*2

[1, 2, 3, 1, 2, 3]

In [44]:
b = b + [7]
b

[4, 5, 6, 7]

In [45]:
b.append(8)
b

[4, 5, 6, 7, 8]

In [46]:
b[-1]

8

In [47]:
b[1:4]

[5, 6, 7]

In [48]:
b[::-1]

[8, 7, 6, 5, 4]

In [49]:
# list[start:stop:step]

In [50]:
lst = list(range(101))

In [51]:
lst[::-5]

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5,
 0]

In [52]:
b.insert(2,"Hola")

In [53]:
b

[4, 5, 'Hola', 6, 7, 8]

In [54]:
txt = "Hola que tal estais"
txt.split(" ")

['Hola', 'que', 'tal', 'estais']

In [55]:
email = "nosequien@google.com"
email.split("@")[0]

'nosequien'

In [56]:
personajes = ["Darth Vader", "Mickey Mouse", "KITT", "Thumbelina"]
"🤖️".join(personajes)

'Darth Vader🤖️Mickey Mouse🤖️KITT🤖️Thumbelina'

In [57]:
# Enumerate
p = list(enumerate(personajes))
p

[(0, 'Darth Vader'), (1, 'Mickey Mouse'), (2, 'KITT'), (3, 'Thumbelina')]

In [58]:
for ind, name in enumerate(personajes):
    print(f"{ind} -> {name}")
    if " " in name:
        personajes[ind] = name.split(" ")
personajes

0 -> Darth Vader
1 -> Mickey Mouse
2 -> KITT
3 -> Thumbelina

[['Darth', 'Vader'], ['Mickey', 'Mouse'], 'KITT', 'Thumbelina']

In [59]:
# Zip

a = ["uno", "dos", "tres"]
b = [1,2,3,4]
c = [7,8,9]

list(zip(a,b,c))

[('uno', 1, 7), ('dos', 2, 8), ('tres', 3, 9)]

## Operaciones sobre Sets

In [60]:
# Sets son NO Ordenados (orden arbitrario)
a = set("adsflkjhadsfdasfsdfafds")
print(a)
a=list(a)
print(a)
set(a)

{'a', 'f', 's', 'l', 'h', 'd', 'k', 'j'}
['a', 'f', 's', 'l', 'h', 'd', 'k', 'j']

{'a', 'd', 'f', 'h', 'j', 'k', 'l', 's'}

In [61]:
num = set(range(1,101))
pares = set(range(2,101,2))

In [62]:
pares.issubset(num)

True

In [63]:
num.issubset(pares)

False

In [64]:
pares.add(102)
pares.issubset(num)

False

In [65]:
pares.remove(102)
pares.issubset(num)

True

In [66]:
impares = num.difference(pares)
num-pares == impares

True

In [67]:
num == pares.union(impares)
num == pares | impares
num == pares + impares

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [68]:
pares.intersection(impares)
pares&impares

set()

## Diccionarios

In [69]:
alumnos = ["Pepe", "Luisa", "Tomasa", "Juanito", "Pepe"]
apellidos = ["Garcia Hernandez", "Lopez Lopez", "Perez Paes", "Ramos Blanco", "Blanco Herrero"]
notas = [[8,7],[7,7],[4,8],[5],[6,1]]

In [70]:
x = "Pepe Blanco"
nombre, apellido = x.split(" ")
for ind, name in enumerate(zip(alumnos,apellidos)):
    if name[0] == nombre and name[1] == apellido:
        break
notas[ind]

[6, 1]

In [71]:
alumno = {"name":"Pepe",
          "lastname": "Garcia",
          "grades":[8,7]}

In [72]:
alumno["grades"]

[8, 7]

In [73]:
students = []

for stud in zip(alumnos, apellidos, notas):
    apell = stud[1].split(" ")
    alumno = {"name":stud[0],
              "lastname": {1:apell[0],2:apell[1]},
              "grades":stud[2]}
    students.append(alumno)

In [74]:
students

[{'name': 'Pepe', 'lastname': {1: 'Garcia', 2: 'Hernandez'}, 'grades': [8, 7]},
 {'name': 'Luisa', 'lastname': {1: 'Lopez', 2: 'Lopez'}, 'grades': [7, 7]},
 {'name': 'Tomasa', 'lastname': {1: 'Perez', 2: 'Paes'}, 'grades': [4, 8]},
 {'name': 'Juanito', 'lastname': {1: 'Ramos', 2: 'Blanco'}, 'grades': [5]},
 {'name': 'Pepe', 'lastname': {1: 'Blanco', 2: 'Herrero'}, 'grades': [6, 1]}]

In [75]:
for stud in students:
    if stud["name"] == "Tomasa":
        if ["Perez", "Paes"] == list(stud["lastname"].values()):
            print(stud["grades"])

[4, 8]

# Ejemplo

In [76]:
txt = """1-pineapple
        2-apple
        3-pineapple
        4-cucumber
        5-pineapple
        6-cucumber
        7-orange
        8-grape
        9-orange"""

In [77]:
lista_frutas = txt.split("\n")
lista_frutas

['1-pineapple',
 '        2-apple',
 '        3-pineapple',
 '        4-cucumber',
 '        5-pineapple',
 '        6-cucumber',
 '        7-orange',
 '        8-grape',
 '        9-orange']

In [78]:
dic_fruta={}
for fruta in lista_frutas:
    k,v = fruta.split("-")
    k=int(k.strip(" "))
    dic_fruta[k] = v
dic_fruta

{1: 'pineapple',
 2: 'apple',
 3: 'pineapple',
 4: 'cucumber',
 5: 'pineapple',
 6: 'cucumber',
 7: 'orange',
 8: 'grape',
 9: 'orange'}

In [79]:
# Tuple packing / unpacking
dog=especie,raza,nombre=["Perro", "Teckel", "Toby"]

In [80]:
especie

'Perro'

In [81]:
raza

'Teckel'

In [82]:
nombre

'Toby'

In [83]:
dog

['Perro', 'Teckel', 'Toby']

In [84]:
# String Strip

In [85]:
amanda = "@@@@@AMANDA@@@@@"

In [86]:
amanda.strip("@")

'AMANDA'

In [87]:
amanda.lstrip("@")

'AMANDA@@@@@'

In [88]:
amanda.rstrip("@")

'@@@@@AMANDA'