In [1]:
staff = ["Amanda", "Juan", "Felipe", "Marc", "Clara", "Blanca", "Ovi", "Fran", "Bego", "Noelia"]

In [2]:
campus_ready = []
for person in staff:
    campus_ready.append("ðŸ˜·ï¸"+person)
campus_ready

['ðŸ˜·ï¸Amanda',
 'ðŸ˜·ï¸Juan',
 'ðŸ˜·ï¸Felipe',
 'ðŸ˜·ï¸Marc',
 'ðŸ˜·ï¸Clara',
 'ðŸ˜·ï¸Blanca',
 'ðŸ˜·ï¸Ovi',
 'ðŸ˜·ï¸Fran',
 'ðŸ˜·ï¸Bego',
 'ðŸ˜·ï¸Noelia']

In [3]:
campus_staff = ["ðŸ˜·ï¸"+person for person in staff]

In [4]:
campus_staff

['ðŸ˜·ï¸Amanda',
 'ðŸ˜·ï¸Juan',
 'ðŸ˜·ï¸Felipe',
 'ðŸ˜·ï¸Marc',
 'ðŸ˜·ï¸Clara',
 'ðŸ˜·ï¸Blanca',
 'ðŸ˜·ï¸Ovi',
 'ðŸ˜·ï¸Fran',
 'ðŸ˜·ï¸Bego',
 'ðŸ˜·ï¸Noelia']

In [5]:
campus_vaccine = [i[1:]+"ðŸ’‰ï¸" for i in campus_staff]

In [6]:
campus_vaccine

['ï¸AmandaðŸ’‰ï¸',
 'ï¸JuanðŸ’‰ï¸',
 'ï¸FelipeðŸ’‰ï¸',
 'ï¸MarcðŸ’‰ï¸',
 'ï¸ClaraðŸ’‰ï¸',
 'ï¸BlancaðŸ’‰ï¸',
 'ï¸OviðŸ’‰ï¸',
 'ï¸FranðŸ’‰ï¸',
 'ï¸BegoðŸ’‰ï¸',
 'ï¸NoeliaðŸ’‰ï¸']

\[ ELEMENTO for BUCLE \]

In [7]:
[i.lower() for i in campus_staff]

['ðŸ˜·ï¸amanda',
 'ðŸ˜·ï¸juan',
 'ðŸ˜·ï¸felipe',
 'ðŸ˜·ï¸marc',
 'ðŸ˜·ï¸clara',
 'ðŸ˜·ï¸blanca',
 'ðŸ˜·ï¸ovi',
 'ðŸ˜·ï¸fran',
 'ðŸ˜·ï¸bego',
 'ðŸ˜·ï¸noelia']

In [8]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
def vacuna(per):
    if "a" in per:
        return per[1:]+"ðŸ’‰ï¸"
    return per

In [15]:
post_vaccine = [vacuna(personita) for personita in campus_staff]
post_vaccine

['ï¸AmandaðŸ’‰ï¸',
 'ï¸JuanðŸ’‰ï¸',
 'ðŸ˜·ï¸Felipe',
 'ï¸MarcðŸ’‰ï¸',
 'ï¸ClaraðŸ’‰ï¸',
 'ï¸BlancaðŸ’‰ï¸',
 'ðŸ˜·ï¸Ovi',
 'ï¸FranðŸ’‰ï¸',
 'ðŸ˜·ï¸Bego',
 'ï¸NoeliaðŸ’‰ï¸']

## filtering

In [24]:
[ta for ta in post_vaccine if "ðŸ’‰ï¸" in ta]

['ï¸AmandaðŸ’‰ï¸',
 'ï¸JuanðŸ’‰ï¸',
 'ï¸MarcðŸ’‰ï¸',
 'ï¸ClaraðŸ’‰ï¸',
 'ï¸BlancaðŸ’‰ï¸',
 'ï¸FranðŸ’‰ï¸',
 'ï¸NoeliaðŸ’‰ï¸']

## conditional

In [32]:
[i**2 if i%2==0 else i*2 for i in range(11)]

[0, 2, 4, 6, 16, 10, 36, 14, 64, 18, 100]

In [27]:
[ta if "ðŸ’‰ï¸" in ta else "**********" for ta in post_vaccine]

['ï¸AmandaðŸ’‰ï¸',
 'ï¸JuanðŸ’‰ï¸',
 '**********',
 'ï¸MarcðŸ’‰ï¸',
 'ï¸ClaraðŸ’‰ï¸',
 'ï¸BlancaðŸ’‰ï¸',
 '**********',
 'ï¸FranðŸ’‰ï¸',
 '**********',
 'ï¸NoeliaðŸ’‰ï¸']

In [36]:
vacation_staff = ["ðŸ–ï¸"+ta if "ðŸ’‰ï¸" in ta else ta+"ðŸ ï¸" for ta in post_vaccine]
vacation_staff

['ðŸ–ï¸ï¸AmandaðŸ’‰ï¸',
 'ðŸ–ï¸ï¸JuanðŸ’‰ï¸',
 'ðŸ˜·ï¸FelipeðŸ ï¸',
 'ðŸ–ï¸ï¸MarcðŸ’‰ï¸',
 'ðŸ–ï¸ï¸ClaraðŸ’‰ï¸',
 'ðŸ–ï¸ï¸BlancaðŸ’‰ï¸',
 'ðŸ˜·ï¸OviðŸ ï¸',
 'ðŸ–ï¸ï¸FranðŸ’‰ï¸',
 'ðŸ˜·ï¸BegoðŸ ï¸',
 'ðŸ–ï¸ï¸NoeliaðŸ’‰ï¸']

In [44]:
def par_o_5(num):
    if num%2 == 0:
        return True
    elif num%5==0:
        return True
    else:
        return False

In [49]:
[i if par_o_5(i) else "***" for i in range(16)]

[0, '***', 2, '***', 4, 5, 6, '***', 8, '***', 10, '***', 12, '***', 14, 15]

## nested list comprehensions

In [53]:
[ "ðŸ–ï¸"+ta if "ðŸ’‰ï¸" in ta else ta+"ðŸ ï¸" for ta in [vacuna(personita) for personita in campus_staff] ]

['ðŸ–ï¸ï¸AmandaðŸ’‰ï¸',
 'ðŸ–ï¸ï¸JuanðŸ’‰ï¸',
 'ðŸ˜·ï¸FelipeðŸ ï¸',
 'ðŸ–ï¸ï¸MarcðŸ’‰ï¸',
 'ðŸ–ï¸ï¸ClaraðŸ’‰ï¸',
 'ðŸ–ï¸ï¸BlancaðŸ’‰ï¸',
 'ðŸ˜·ï¸OviðŸ ï¸',
 'ðŸ–ï¸ï¸FranðŸ’‰ï¸',
 'ðŸ˜·ï¸BegoðŸ ï¸',
 'ðŸ–ï¸ï¸NoeliaðŸ’‰ï¸']

In [73]:
playa = ["".join([i for i in ta if i.isalpha()]) for ta in vacation_staff if "ðŸ–ï¸ï¸" in ta]
playa

['Amanda', 'Juan', 'Marc', 'Clara', 'Blanca', 'Fran', 'Noelia']

In [71]:
amanda = ['A', 'm', 'a', 'n', 'd', 'a']
sep="Â¡!"

In [72]:
sep.join(amanda)

'AÂ¡!mÂ¡!aÂ¡!nÂ¡!dÂ¡!a'

## flatten

In [74]:
lst = [[1,2,3],[4,5,6],[7,8,9]]

In [75]:
# [1,2,3,4,5,6,7,8,9]

In [78]:
flatted = []
for sublist in lst:
    for i in sublist:
        flatted.append(i)
flatted

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
[e for sub in lst for e in sub]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [108]:
lst = [     [       [1,2,3]   ,   (4,5)  ,   [7,8,9]      ]      ,       [[5,4,5,6,7],[6],{7,8,9}]        ]

In [109]:
flatted = []
for e in lst:
    for i in e:
        for x in i:
            flatted.append(x)
flatted

[1, 2, 3, 4, 5, 7, 8, 9, 5, 4, 5, 6, 7, 6, 8, 9, 7]

In [110]:
[x for e in lst for i in e for x in i]

[1, 2, 3, 4, 5, 7, 8, 9, 5, 4, 5, 6, 7, 6, 8, 9, 7]

![matryoshka](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSRKy1aNspOFWWbP9YT2okRbRw7n1L9Y9Fp0w&usqp=CAU)

In [112]:
[num for list_2d in lst for lst_3d in list_2d for num in lst_3d]

[1, 2, 3, 4, 5, 7, 8, 9, 5, 4, 5, 6, 7, 6, 8, 9, 7]

## List comprehension with dict

In [147]:
 hoteles = [
     {"name":"MeliÃ¡", "stars":4, "scores":[5,4,8]},
     {"name":"nh", "stars":4, "scores":[8,9,7,8]},
     {"name":"Hilton", "stars":5, "scores":[8,7]},
     {"name":"Pension Lola", "stars":1, "scores":[1,2,3,1,1,1,1,1,10]}
 ]

In [120]:
def mean(arr):
    return sum(arr)/len(arr)

In [121]:
mean([hotel["stars"] for hotel in hoteles])

3.5

In [124]:
# Media de todas las notas
mean([i for hotel in hoteles for i in hotel["scores"]])

4.722222222222222

In [133]:
# Media de las medias
mean([mean(hotel["scores"]) for hotel in hoteles])

5.875

In [131]:
# Media de las medias considerando cantidad de elementos
mean([i for e in [[mean(hotel["scores"])]*len(hotel["scores"]) for hotel in hoteles] for i in e])

4.72222222222222

In [138]:
for hotel in hoteles:
    hotel.update({"mean": mean(hotel["scores"])})
hoteles

[{'name': 'MeliÃ¡', 'stars': 4, 'scores': [5, 4, 8], 'mean': 5.666666666666667},
 {'name': 'nh', 'stars': 4, 'scores': [8, 9, 7, 8], 'mean': 8.0},
 {'name': 'Hilton', 'stars': 5, 'scores': [8, 7], 'mean': 7.5},
 {'name': 'Pension Lola',
  'stars': 1,
  'scores': [1, 2, 3, 1, 1, 1, 1, 1, 10],
  'mean': 2.3333333333333335}]

In [140]:
for hotel in hoteles:
    hotel["mean"] = mean(hotel["scores"])
hoteles

[{'name': 'MeliÃ¡', 'stars': 4, 'scores': [5, 4, 8], 'mean': 5.666666666666667},
 {'name': 'nh', 'stars': 4, 'scores': [8, 9, 7, 8], 'mean': 8.0},
 {'name': 'Hilton', 'stars': 5, 'scores': [8, 7], 'mean': 7.5},
 {'name': 'Pension Lola',
  'stars': 1,
  'scores': [1, 2, 3, 1, 1, 1, 1, 1, 10],
  'mean': 2.3333333333333335}]

In [141]:
[hotel.update({"mean": mean(hotel["scores"])}) for hotel in hoteles]

[None, None, None, None]

In [144]:
a = print("Hello")
print(a)

Hello
None

## \* y \** in lists and dicts

In [ ]:
[dict(**hotel,mean=mean(hotel["scores"])) for hotel in hoteles]

In [148]:
[{**hotel,"mean":mean(hotel["scores"])} for hotel in hoteles]

[{'name': 'MeliÃ¡', 'stars': 4, 'scores': [5, 4, 8], 'mean': 5.666666666666667},
 {'name': 'nh', 'stars': 4, 'scores': [8, 9, 7, 8], 'mean': 8.0},
 {'name': 'Hilton', 'stars': 5, 'scores': [8, 7], 'mean': 7.5},
 {'name': 'Pension Lola',
  'stars': 1,
  'scores': [1, 2, 3, 1, 1, 1, 1, 1, 10],
  'mean': 2.3333333333333335}]

In [152]:
a = [1,2,3]
a.append(4)
a.append(5)
a

[1, 2, 3, 4, 5]

In [153]:
a = [1,2,3]
b = [*a,4,5]

In [154]:
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4, 5]

## Dict Comprehension

In [160]:
 hoteles = [
     {"name":"MeliÃ¡", "stars":4, "scores":[5,4,8]},
     {"name":"nh", "stars":4, "scores":[8,9,7,8]},
     {"name":"Hilton", "stars":5, "scores":[8,7]},
     {"name":"Pension Lola", "stars":1, "scores":[1,2,3,1,1,1,1,1,10]}
 ]

In [161]:
means = {}
for hotel in hoteles:
    means[hotel["name"]]=mean(hotel["scores"])
means

{'MeliÃ¡': 5.666666666666667,
 'nh': 8.0,
 'Hilton': 7.5,
 'Pension Lola': 2.3333333333333335}

{ ELEMENT for BUCLE }

In [163]:
{hotel["name"]:mean(hotel["scores"]) for hotel in hoteles}

{'MeliÃ¡': 5.666666666666667,
 'nh': 8.0,
 'Hilton': 7.5,
 'Pension Lola': 2.3333333333333335}

In [164]:
{hotel["name"]:mean(hotel["scores"]) for hotel in hoteles if hotel["stars"]>=4}

{'MeliÃ¡': 5.666666666666667, 'nh': 8.0, 'Hilton': 7.5}

In [167]:
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [168]:
cars = {"Seat Panda":60,
       "BMW":150,
       "Mercedes":180,
       "Seat Ibiza":100}

In [169]:
cars["BMW"]

150

In [171]:
for k,v in cars.items():
    if v == 150:
        car = k
car

'BMW'

In [176]:
cars_hp = {v:k for k,v in cars.items()}

In [177]:
cars_hp

{60: 'Seat Panda', 150: 'BMW', 180: 'Mercedes', 100: 'Seat Ibiza'}

In [179]:
cars_hp[150]

'BMW'

In [180]:
{v:k for k,v in cars.items()}[150]

'BMW'

In [183]:
cars = {**cars, "Honda":150}
cars

{'Seat Panda': 60,
 'BMW': 150,
 'Mercedes': 180,
 'Seat Ibiza': 100,
 'Honda': 150}

In [184]:
{v:k for k,v in cars.items()}

{60: 'Seat Panda', 150: 'Honda', 180: 'Mercedes', 100: 'Seat Ibiza'}