In [1]:
schoolSystem = {
  'schools': [{
      'name': 'Fake School 1',
      'classRooms': [{
        'teacher': {
          'firstName': 'Marcelino',
          'lastName': 'Padberg',
          'age': 25
        },
        'students': [{
            'firstName': 'Aliyah',
            'lastName': 'Schulist',
            'age': 18
          },
          {
            'firstName': 'Cleveland',
            'lastName': 'Towne',
            'age': 28
          }, {
            'firstName': 'Jan',
            'lastName': 'Quitzon',
            'age': 18
          }, {
            'firstName': 'Alaina',
            'lastName': 'Runolfsdottir',
            'age': 18
          },{
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Gerhard',
            'lastName': 'Bergstrom',
            'age': 23
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Edwardo',
          'lastName': 'Schowalter',
          'age': 28
        },
        'students': [{
            'firstName': 'Manley',
            'lastName': 'Doyle',
            'age': 18
          }, {
            'firstName': 'Maximilian',
            'lastName': 'Gleichner',
            'age': 19
          }, {
            'firstName': 'Sid',
            'lastName': 'Rohan',
            'age': 30
          },
          {
            'firstName': 'Catalina',
            'lastName': 'Hilpert',
            'age': 27
          }, {
            'firstName': 'Gerald',
            'lastName': "O'Keefe",
            'age': 26
          }
        ]
      }]
    },
    {
      'name': 'Fake School 2',
      'classRooms': [{
          'teacher': {
            'firstName': 'Lucas',
            'lastName': 'Schroeder',
            'age': 29
          },
          'students': [{
              'firstName': 'Giuseppe',
              'lastName': 'Hegmann',
              'age': 24
            },
            {
              'firstName': 'Jennyfer',
              'lastName': 'Hane',
              'age': 19
            }, {
              'firstName': 'Mikayla',
              'lastName': 'Braun',
              'age': 23
            }, {
              'firstName': 'Rickie',
              'lastName': 'White',
              'age': 22
            }, {
              'firstName': 'Rose',
              'lastName': 'Collins',
              'age': 30
            }
          ]
        },
        {
          'teacher': {
            'firstName': 'Green',
            'lastName': 'Sauer',
            'age': 25
          },
          'students': [{
              'firstName': 'Melany',
              'lastName': 'Welch',
              'age': 25
            }, {
              'firstName': 'Paxton',
              'lastName': 'Corkery',
              'age': 22
            },
            {
              'firstName': 'Nellie',
              'lastName': 'Hauck',
              'age': 26
            }, {
              'firstName': 'Eunice',
              'lastName': 'Hirthe',
              'age': 26
            }, {
              'firstName': 'Aylin',
              'lastName': 'Barrows',
              'age': 26
            }
          ]
        }
      ]
    },
    {
      'name': 'Fake School 3',
      'classRooms': [{
        'teacher': {
          'firstName': 'Nikko',
          'lastName': 'Crist',
          'age': 42
        },
        'students': [{
            'firstName': 'Christop',
            'lastName': 'Hahn',
            'age': 26
          }, {
            'firstName': 'Newell',
            'lastName': 'Kemmer',
            'age': 27
          },
          {
            'firstName': 'Katheryn',
            'lastName': 'Heller',
            'age': 26
          }, {
            'firstName': 'Saul',
            'lastName': 'Heathcote',
            'age': 20
          },
          {
            'firstName': 'Maudie',
            'lastName': 'Haley',
            'age': 30
          }
        ]
      }, {
        'teacher': {
          'firstName': 'Nathanael',
          'lastName': 'Hansson',
          'age': 50
        },
        'students': [{
            'firstName': 'Jensen',
            'lastName': 'Reichel',
            'age': 21
          }, {
            'firstName': 'Lois',
            'lastName': 'Kulas',
            'age': 28
          },
          {
            'firstName': 'Caterina',
            'lastName': 'Wolff',
            'age': 28
          }, {
            'firstName': 'Dahlia',
            'lastName': 'Collier',
            'age': 24
          },
          {
            'firstName': 'Linwood',
            'lastName': 'Langosh',
            'age': 26
          }
        ]
      }]
    }
  ]
}

In [2]:
# 1 - Add a student with the name of Lucille D. Lozano to Fake School 2, in the first classroom.

In [3]:
type(schoolSystem)

dict

In [4]:
schoolSystem.keys()

dict_keys(['schools'])

In [5]:
type(schoolSystem["schools"])

list

In [6]:
schoolSystem["schools"][1]

{'name': 'Fake School 2',
 'classRooms': [{'teacher': {'firstName': 'Lucas',
    'lastName': 'Schroeder',
    'age': 29},
   'students': [{'firstName': 'Giuseppe', 'lastName': 'Hegmann', 'age': 24},
    {'firstName': 'Jennyfer', 'lastName': 'Hane', 'age': 19},
    {'firstName': 'Mikayla', 'lastName': 'Braun', 'age': 23},
    {'firstName': 'Rickie', 'lastName': 'White', 'age': 22},
    {'firstName': 'Rose', 'lastName': 'Collins', 'age': 30}]},
  {'teacher': {'firstName': 'Green', 'lastName': 'Sauer', 'age': 25},
   'students': [{'firstName': 'Melany', 'lastName': 'Welch', 'age': 25},
    {'firstName': 'Paxton', 'lastName': 'Corkery', 'age': 22},
    {'firstName': 'Nellie', 'lastName': 'Hauck', 'age': 26},
    {'firstName': 'Eunice', 'lastName': 'Hirthe', 'age': 26},
    {'firstName': 'Aylin', 'lastName': 'Barrows', 'age': 26}]}]}

In [7]:
schoolSystem["schools"][1]["classRooms"][0]["students"]

[{'firstName': 'Giuseppe', 'lastName': 'Hegmann', 'age': 24},
 {'firstName': 'Jennyfer', 'lastName': 'Hane', 'age': 19},
 {'firstName': 'Mikayla', 'lastName': 'Braun', 'age': 23},
 {'firstName': 'Rickie', 'lastName': 'White', 'age': 22},
 {'firstName': 'Rose', 'lastName': 'Collins', 'age': 30}]

In [8]:
new_student={'firstName': 'Lucille', 'lastName': 'D. Lozano'}
schoolSystem["schools"][1]["classRooms"][0]["students"].append(new_student)

In [9]:
# 1 - Add a student with the name of Lucille D. Lozano to Fake School 2, in the first classroom.
new_student={'firstName': 'Lucille', 'lastName': 'D. Lozano'}
for k,v in schoolSystem.items():
    for ind,school in enumerate(v):
        if school["name"] == 'Fake School 2':
            schoolSystem[k][ind]["classRooms"][0]["students"].append(new_student)

In [10]:
def insert_student(first,last,school_name,classroom):
    new_student={'firstName': first, 'lastName': last}
    for k,v in schoolSystem.items():
        for ind,school in enumerate(v):
            if school["name"] == school_name:
                schoolSystem[k][ind]["classRooms"][classroom-1]["students"].append(new_student)

In [11]:
insert_student("Pepito", "Gonzalez", "Fake School 2", 1)

In [12]:
# 2 - Retrieve the "Fake School 3" object

In [16]:
for school in schoolSystem["schools"]:
    if school["name"] == 'Fake School 3':
        break
school

{'name': 'Fake School 3',
 'classRooms': [{'teacher': {'firstName': 'Nikko',
    'lastName': 'Crist',
    'age': 42},
   'students': [{'firstName': 'Christop', 'lastName': 'Hahn', 'age': 26},
    {'firstName': 'Newell', 'lastName': 'Kemmer', 'age': 27},
    {'firstName': 'Katheryn', 'lastName': 'Heller', 'age': 26},
    {'firstName': 'Saul', 'lastName': 'Heathcote', 'age': 20},
    {'firstName': 'Maudie', 'lastName': 'Haley', 'age': 30}]},
  {'teacher': {'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50},
   'students': [{'firstName': 'Jensen', 'lastName': 'Reichel', 'age': 21},
    {'firstName': 'Lois', 'lastName': 'Kulas', 'age': 28},
    {'firstName': 'Caterina', 'lastName': 'Wolff', 'age': 28},
    {'firstName': 'Dahlia', 'lastName': 'Collier', 'age': 24},
    {'firstName': 'Linwood', 'lastName': 'Langosh', 'age': 26}]}]}

In [ ]:
# 3 - Retrieve the teacher with the first name of "Nathanael"

In [27]:
for school in schoolSystem["schools"]:
    for classroom in school["classRooms"]:
        if classroom["teacher"]["firstName"] == "Nathanael":
            teacher = classroom["teacher"]
            break
teacher

{'firstName': 'Nathanael', 'lastName': 'Hansson', 'age': 50}

In [ ]:
# 4 - Retrieve the student with the first name of "Saul"

In [33]:
saul = []
for school in schoolSystem["schools"]:
    for ind,classroom in enumerate(school["classRooms"]):
        for student in classroom["students"]:
            if student["firstName"] == "Saul":
                saul.append([student,school["name"],ind])
saul

[{'firstName': 'Saul', 'lastName': 'Heathcote', 'age': 20}, 'Fake School 1', 0]
[{'firstName': 'Saul', 'lastName': 'Heathcote', 'age': 20}, 'Fake School 3', 0]

In [36]:
saul[0][0]["age"]

20